StealthGameTemplate417/Saved
StealthGameTemplate417/Intermediate
StealthGameTemplate417/.vs
StealthGameTemplate417/Build
StealthGameTemplate417/Plugins
StealthGameTemplate417/*.sln
StealthGameTemplate417/*_BuiltData.uasset
CoopGame/Saved
CoopGame/Intermediate
CoopGame/.vs
CoopGame/Build
CoopGame/Plugins
CoopGame/*.sln
CoopGame/*_BuiltData.uasset